$primary-color: hsl(220, 98%, 61%);
$background-color:linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

:root {
    --background: hsl(0, 0%, 98%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --input-background: #fff;
    --bg-url: url("../images/bg-desktop-light.jpg");
    @include respond(phone) {
        --bg-url: url("../images/bg-mobile-light.jpg");
    }
}

[data-theme='dark'] {
    --background: hsl(235, 21%, 11%);
    --input-background: hsl(235, 24%, 19%);
    --bg-url: url("../images/bg-desktop-dark.jpg");
    @include respond(phone) {
        --bg-url: url("../images/bg-mobile-dark.jpg");
    }

}

