@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
// Variables
$color-primary:hsl(0, 36%, 70%);
$color-secondary:hsl(0, 93%, 68%);
$color-tertiary:hsl(0, 6%, 24%);

$font-size:16px;
$font-family:'Josefin Sans',
sans-serif;


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: $font-size;
    font-family: $font-family;
    background: url("../images/bg-pattern-desktop.svg"), linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)), linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.rol {
    display: flex;
    width: 100%;
    height: 100vh;
}

.col {
    flex: 1 1 auto;
}

.img {
    height: 100%;
    width: 100%;
    display: block;
}

header {
    padding: 2rem 4rem;
}

main {
    // padding:4rem;
    max-width: 50%;
    padding-left: 4rem;

}

.heading-primary {
    text-transform: uppercase;
    letter-spacing: 10px;
    color: $color-tertiary;
    margin: 3rem 0 1.5rem;
}

.text-light {
    color: $color-primary;
    font-weight: 300;
}

.paragraph {
    color: $color-primary;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}


.input-wrapper {
    position: relative;
    display: flex;
}

.input {
    border-radius: 20px;
    width: 90%;
    padding: 10px 0;
    text-indent: 20px;
    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: transparent;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: $color-primary;
    }

    &:invalid {
        border: 2px solid $color-secondary;
        background: url("../images/icon-error.svg") right 3.5rem center no-repeat;

    }
}


.error-msg {
    text-indent: 20px;
    display: inline-block;
    margin-top: 5px;
    color: $color-secondary;
}

.btn {
    background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: 0;
    padding: 10px 25px;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    img {
        width: 8px;
    }
}