@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    font-family: 'Josefin Sans',
        sans-serif;
    font-size: 18px;
}

.heading-primary {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 10px;
}

.text{
    &-small{
        font-size: 10px;
    }

}