@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
// Variables
$primary-color:hsl(233, 47%, 7%);
$secondary-color:hsl(244, 38%, 16%);
$tertiary-color:hsl(277, 64%, 61%);

$color-white:hsl(0, 0%, 100%);
$color-transparent-white-1: hsla(0, 0%, 100%, 0.75);
$color-transparent-white-2:hsla(0, 0%, 100%, 0.6);

$font-size:15px;
$font-family-inter: 'Inter',
sans-serif;
$font-family-deca:'Lexend Deca',
sans-serif;


// Rest
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: $font-size;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text--violet {
    color: $tertiary-color;
}

.card {
    max-width: 1100px;
    border-radius: 5px;
    overflow: hidden;

    &__content {
        padding: 4rem;
        background-color: $secondary-color;
        font-family: $font-family-inter;
    }

    &__title {
        color: $color-white;
        margin-bottom: 2rem;
    }

    &__description {
        color: $color-transparent-white-1;
        margin-bottom: 5rem;
        line-height: 1.5;
    }

    &__image {
        background: $tertiary-color url("../images/image-header-desktop.jpg") no-repeat;
        background-position: center;
        background-size: cover;
        background-blend-mode: multiply;
    }
}

.stat-wrapper {
    display: flex;
}

.stat {
    &:not(:last-child) {
        margin-right: 4rem;
    }

    &__num {
        color: $color-white;
    }

    &__description {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 10px;
        color: $color-transparent-white-2;
    }
}

.rol {
    display: flex;
}

.col {
    width: 50%;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    color: $color-white;

    a {
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (max-width:768px) {
    body {
        padding: 6rem 2rem;
    }

    .rol {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }

    .card__content {
        order: 2;
        text-align: center;
        flex: 1 0 0;
    }

    .card__image {
        order: 1;
        flex: 0 0 400px;
    }

    .stat-wrapper {
        flex-direction: column;
    }

    .stat:not(:last-child) {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}